.button {
  border-radius: 5px;
  height: 46px;
  text-align: center;
}
/* 
 *   Primary Button
*/
.button[data-variation="primary"] {
  color: #fff;
  background-color: #6c5ce7;
  border: 1px solid #6c5ce7;
}
.button[data-variation="primary"]:hover {
  color: #6c5ce7;
  background-color: #fff;
  border: 1px solid #6c5ce7;
}

/**
** Secondary button
*/
.button[data-variation="secondary"] {
  color: #6c5ce7;
  background-color: #fff;
  border: 1px solid #6c5ce7;
}
.button[data-variation="secondary"]:hover {
  color: #fff;
  background-color: #6c5ce7;
  border: 1px solid #6c5ce7;
}
